doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        nav
          ul
            li
              a(href="/") Homepage  
            li
              if currentUser
                a(href="/log-out") Log-Out
              else
                a(href="/log-in") Log-In 
    block content
      
