doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")

  body
    header
        nav
          ul
            if !currentUser
              div.left-side
                  li
                    a(href="/") Homepage
              div.right-side
                  li 
                    a(href="/log-in") Log-In
                  li 
                    a(href="/sign-up") Sign Up
            if currentUser
              div.left-side
                  li
                    a(href="/") Homepage 
                  li
                    a(href="/create-message") Create Message
              div.right-side
                li Welcome Back !{currentUser.username}
                li 
                  a(href="/log-out") Log-Out
            
            
    block content
      
