doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        nav
          ul
            li
              a(href="/") Homepage  
            if currentUser
              li
                a(href="/create-message") Create Message
              li
                a(href="/log-out") Log-Out
            else
              li 
                a(href="/log-in") Log-In 
    block content
      
