extends layout

block content 

    h3 Wanna know a secret? 

    if currentUser
        section.secret-form-section
            div.form-container
                if currentUser.member
                    p You are already an member please go to the Homepage
                        a(href="/") Go back to homepage
                else
                    form(method="POST")
                        label(for="secret_code") #[strong Secret Code: ]
                        input(type="password" autocomplete="on", id="secret_code" name="secret_code")

                        button.btn-primary.btn Proceed
 

    else
        p Please Log in to proceed
        a(href="/log-in") Log In   