:root {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column wrap;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
}

nav {
  background-color: #000;
  text-transform: uppercase;
  padding: 1rem;
}
nav ul {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  gap: 10px;
}

section {
  max-width: 1200px;
}

.right-side,
.left-side {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

ul {
  list-style: none;
}

li,
a {
  color: #fff;
  text-decoration: none;
}

.content-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.message-section {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem;
}
.message-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.log-in-section,
.sign-up-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-self: center;
  flex: 1;
}

.form-container {
  display: flex;
  min-width: 320px;
  max-width: 550px;
  max-height: 300px;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  text-align: center;
  align-items: center;
  gap: 15px;
}

input {
  border-radius: 15px;
}

.form-group {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  gap: 15px;
}

button {
  background-color: #000;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
}
