:root {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}

nav {
  background-color: #000;
  text-transform: uppercase;
  padding: 1rem;
}
nav ul {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
