:root {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}

nav {
  background-color: #000;
  text-transform: uppercase;
  padding: 1rem;
}
nav ul {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  gap: 10px;
}

.right-side,
.left-side {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

ul {
  list-style: none;
}

li > a {
  color: #fff;
  text-decoration: none;
}

.message-section {
  padding: 2rem;
}
.message-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid black;
  padding: 1rem;
}
